<div class="panel panel-default">
  <div class="panel-heading">
    List of Employees
    <div class="listHeaderActions">
      <%= link_to new_employee_path, :class => "btn btn-default btn-xs" do %>
        <span class="fa fa-plus"> Add Employee </span>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <div class="form">
      <%= render partial: "list" %>
    </div>
  </div>
</div>
