<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <b>Add New Employee</b>
          </div>
          <div class="col-md-6" style="text-align: right;">
            <%= link_to employees_path, :class => "btn btn-warning btn-xs" do %>
            <span class="fa fa-arrow-left"> </span> Back to List
          <% end %>
          </div>
        </div>
      </div>
      <div class="form">
       <%= render partial: "form" %>
      </div>
    </div>
  </div>
</div>