<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Add New Employee
        <div class="listHeaderActions">
          <%= link_to employees_path, :class => "btn btn-default btn-xs" do %>
            <span class="fa fa-arrow-left"> </span> Back to List
          <% end %>
        </div>
      </div>
      <div class="panel-body">
        <%= render partial: "form" %>
      </div>
    </div>
  </div>
</div>
