.row.margintop
  .col-md-4
    .dashtitleblue
      Number of Employees
    .dashbodyblue
      .row
        .col-md-6
          %span.fa.fa-user
        .col-md-6
          = "#{Employee.count}"
  .col-md-4
    .dashtitleblue
      Pending Payslips
    .dashbodygreen
      .row
        .col-md-6
          %span.fa.fa-money
        .col-md-6
          = number_to_currency(Payslip.where(status: "pending").sum(:gross_amount), unit: "P")
  .col-md-4
    .dashtitleblue
      Paid Amounts
    .dashbodyorange
      .row 
        .col-md-6
          %span.fa.fa-money
        .col-md-6
          = number_to_currency(Payslip.where(status: "approved").sum(:gross_amount), unit: "P")
