.listHeaderActions {
  float: right;
}

.basic-info {
  h4 {
    background-color: #e2e2e2;
    padding: 8px;
  }
}

.basic-info-h4 {
  background-color: #e2e2e2;
  padding: 8px;
}

.other-info-h4 {
  background-color: #e2e2e2;
  padding: 8px;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.date {
  display: inline;
}

.dashtitleblue {
  background-color: #e2e2e2;
  padding: 10px;
}

.dashbodygreen {
  background-color: #3498db;
  height: 120px;
  padding: 10px;
  font-size: 50px;
  color: white;
  text-align: center;
}

.dashbodyorange {
  background-color: #e67e22;
  height: 120px;
  padding: 10px;
  font-size: 50px;
  color: white;
  text-align: center;
}

.dashbodyblue {
  background-color: #2ecc71;
  height: 120px;
  padding: 10px;
  font-size: 50px;
  color: white;
  text-align: center;
}
